{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"endOfLine": "lf",
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
